body {
    background: #043354;
}

#train-table th,
    td {
      display: inline-block;
      width: 20%;
    }

.headerColor {
    background-color: #c73906;
    }

.jumbotron{
    border-radius: 15px;
    border: 3px solid black;
}


#scheduleTitle, #addTittle {   
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card{
    border: 3px solid black;
    border-radius: 20px;
}

h1, h3, .card-header {
    color: white;
}

